:host {
  .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    color: #fff;
    border-radius: 6px;
    font-size: 0.8em;
    font-weight: bold;

    &-Paisagem {
      background-color: #005dff;
    }

    &-Flor {
      background-color: #fd004a;
    }

    &-Pizza {
      background-color: #978904;
    }
  }
}
