<app-search-input
  [searchQuery]="searchQuery"
  (searchChange)="onSearchChange($event)"
></app-search-input>

<app-chips
  [items]="chipsList"
  (selectedChips)="onChipsSelected($event)"
></app-chips>

<section class="data-list">
  @for (data of filteredData(); track $index) {
    <app-card-anota-ai
      [info]="data"
      (removeDataId)="onRemoveDataId($event)"
    ></app-card-anota-ai>
  } @empty {
    <div class="empty">
      <p>No results found for this search.</p>
    </div>
  }
</section>
