:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;

  .data-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
  }

  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem;
    color: #a5a3a3;
    font-weight: 600;
  }
}
